<p>Below are download statistics and visitor counts for this LibraryBox.</p>

<div class="row">
  <div class="six columns top">
    <h3>Visitor Counts</h3>
    <p class="visitors-top-statspage">
      No visitors yet. This probably means you haven't set the time/date on the CES LetterBox.
    </p>
  </div>
  <div id="files-top" class="six columns top">
    <h3>Content Downloads</h3>
    <p id="files-top-statspage">
      No download yet.
    </p>
  </div>
</div>