<footer id="footer">
  <p>
    The CES LetterBox Project is Software Licensed under GPLv2, see
    http://www.gnu.org/licenses/gpl-2.0.html for license details.
  </p>
  <small>
    All CES LetterBox content not otherwise licensed is released under a Creative Commons
    NC-BY license.  For more information, visit http://CESLetterBox.com.
  </small>
</footer>