<nav role="navigation" id="nav">
  <div class="nav">
    <input class="trigger" type="checkbox" id="mainNavButton">
    <label for="mainNavButton" onclick>{{{header}}}</label>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="chat.html">Chat</a></li>
      <li><a href="cesletter.html">CES Letter</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="/Shared/">All Content</a>
        <ul>
          <li><a href="/Shared/text/">Text</a></li>
          <li><a href="/Shared/audio/">Audio</a></li>
          <li><a href="/Shared/video/">Video</a></li>
          <li><a href="/Shared/software/">Apps</a></li>
          <li><a href="stats.html">Statistics</a></li>
        </ul>
      </li>
    </ul>
    </ul>
  </div>
</nav>