body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
  }

  footer#footer {
    font-size: smaller;
    border-top: 1px solid #97999b;
    background-color: #F1F1F3;
    width: calc(100% - 4vh);
    padding: 0 2vh 1vh;
    p {
      margin: 0;
      &:first-child {
        padding-top: 2vh
      }
    }
    a {
      color: #333333;
    }
    .container {
      margin: 0 auto;
    }
    small {
      color: #97999b;
    }
  }
}