@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format("embedded-opentype"), url('../fonts/glyphicons-halflings-regular.woff') format("woff"), url('../fonts/glyphicons-halflings-regular.ttf') format("truetype"), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format("svg");
}

@-ms-viewport {
  width: device-width;
}

.hidden-xs {
  display: block !important;
}

td.hidden-xs {
  display: table-cell !important;
}

@media (max-width: 767px) {
  .hidden-xs, td.hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-xs.hidden-sm, td.hidden-xs.hidden-sm {
    display: none !important;
  }
}

.hidden-sm {
  display: block !important;
}

td.hidden-sm {
  display: table-cell !important;
}

@media (max-width: 767px) {
  .hidden-sm.hidden-xs, td.hidden-sm.hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm, td.hidden-sm {
    display: none !important;
  }
}

@font-face {
  font-family: 'Open Sans';
  src: url("/content/fonts/OpenSans-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  border-top: 10px solid #c03d14;
  border-bottom: 10px solid #c03d14;
  color: #61666c;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  line-height: 2em;
}

body {
  padding: 0px;
  -webkit-backface-visibility: hidden;
  background-color: #9099A3;
}

a {
  color: #c03d14;
  text-decoration: none;

  &:hover {
    color: #009933;
  }

  &:visited {
    color: #48468F;
  }
}

h2 {
  padding: 0px 0px 0px 10px;
  margin-bottom: 12px;
}

table {
  width: 98%;
  border-collapse: collapse;
  font-size: 1.25em;
  line-height: 1.25em;
  margin-left: 12px;
  padding: 0px;
}

th {
  font-family: 'Open Sans', sans-serif;
}

td {
  font-family: 'Open Sans', sans-serif;

  &.s {
    text-align: right;
  }
}

div {
  &.list {
    background-color: white;
    border-top: 1px solid #646464;
    border-bottom: 1px solid #646464;
    padding-top: 10px;
    padding-bottom: 14px;
  }

  &.foot {
    font-size: 10pt;
    color: #787878;
    padding-top: 4px;
  }
}

tr {
  outline: 0;
  border: 0;

  &:hover td {
    background: #f6f6f6;
  }
}

th {
  text-align: left;
  font-weight: bold;
  padding-bottom: 5px;

  + th {
    /* 2nd Column: Filename */
    text-align: left;

    + th {
      /* 3rd Column: Last Modified */
      text-align: left;

      + th {
        /* 4th Column: Size */
        text-align: center;
      }
    }
  }
}

tr td:first-of-type {
  padding-left: 10px;
  padding-right: 10px;
}

td {
  padding: 8px 0;
  outline: 0;
  border: 0;
  border-bottom: 5px solid #edf1f5;
  vertical-align: center;
  text-align: left;
  transition: background 300ms ease;

  &.n a {
    background: url( /content/dir-images/file.png) no-repeat 10px 50%;
    padding-left: 35px;

    &#img {
      background-image: url(/content/dir-images/image.png);
    }

    &#video {
      background-image: url(/content/dir-images/video.png);
    }

    &#audio {
      background-image: url(/content/dir-images/sound.png);
    }

    &#archive {
      background-image: url(/content/dir-images/zip.png);
    }

    &#doc {
      background-image: url(/content/dir-images/office.png);
    }

    &#file {
      background-image: url(/content/dir-images/file.png);
    }

    &#folder {
      background-image: url(/content/dir-images/folder.png);
    }
  }
}

.n {
  text-align: left;
  white-space: pre-wrap;

  /* CSS 2.1 */
  white-space: pre-line;

  /* CSS 3 */
  word-wrap: break-word;

  /* IE */
  word-break: break-all;
}

.s {
  text-align: left;
}

.t {
  text-align: center;
}

.c {
  text-align: left;
}