@import "partials/skeleton_media.css";

main {
  a {
    color: #0091bc;
    text-decoration: none;
  }

  svg.happy {
    height: 48px;
    width: 48px;
    background-color: lightgray;
    padding: 15px;
    margin-left: 10px;
    border-radius: 100px;
    .rightEar {
      fill: #FFEBFA;
    }
    .leftEar {
      fill: #FFEBFA;
    }
    .face {
      fill: #FFEBFA;
    }
    .bottomLeftHair {
      fill: #BF5B40;
    }
    .bottomRightHair {
      fill: #BF5B40;
    }
    .topHair{
      fill: #BF5B40;
    }
    .faceOutline {
      fill: #333333;
    }
    .rightEye {
      fill: #333333;
    }
    .mouth {
      fill: #333333;
    }
    .leftEye {
      fill: #333333;
    }
  } 

  .pt {
    padding-top: 2rem;
  }

  .pb {
    padding-bottom: 2rem;
  }

  svg.radio {
    height: 48px;
    width: 48px;
  }

  svg.network {
    height: 48px;
    width: 48px;
  }

  svg.letter {
    height: 60px;
    width: 60px;
  }

  svg.squares {
    height: 60px;
    width: 100%;
    margin: 0 auto;
    rect, polygon {
      fill: #747474;
    }
  }
}