@import "partials/navbar.css";
@import "partials/footer.css";

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.preventFlicker {
  display: none;
}

.centered {
  margin: 0 auto;
  width: 215px;
}

body {
  margin: 0;
  font-family: "Open Sans";
  color: #333333;
}

main {
  max-width: 960px;
  width: 95%;
  margin: 0 auto;
}

header {
  max-width: 960px;
  width: 95%;
  margin: 0 auto;

  h1 {
    margin: 20px 0;
  }

  img.layers {
    float: left;
    padding-top: 12px;
    height: 75px;
  }
}