@import "partials/navbar.css";
@import "partials/footer.css";
@import "partials/skeleton.css";

.centered {
  margin: 0 auto;
  display: table;
}

body {
  margin: 0;
}

header {
  h1 {
    margin: 20px 0;
  }

  img.layers {
    float: left;
    padding-top: 12px;
    height: 75px;
  }
}

ul.listInline
{
  margin: 0;
  padding: 0;
  list-style: none;
  li
  {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }
  &.pr li {
    padding-right: 10px;
  }
}